.image 
{ 
position: relative; /* To help the image + text element to get along with the rest of the page*/ 
width: 100%; /* for IE 6 */ 
} 
#title_detail { 
  position: absolute; /* To place the text on the image*/
  top: 100px; /* The exact location of the text from the top of the image*/
  left: 0; /* Other beautification stuff */
  width: 100%;
  span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    background: rgb(0, 0, 0); /* fallback color */ 
    background: rgba(0, 0, 0, 0.7); padding: 10px; 
  };
  span.spacer { padding:0 5px; }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.container2 {
  position: relative;
  text-align: center;
  color: white;
}

.bg-faded {
  background-color: #c8c8c8;
}

/*
Add section.head css
*/
section.head {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  background-color: #000000;
  background-repeat: no-repeat;
}

.products{
  display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
  position: relative;
  padding-top:20px;
}

.nutri-badge{
  position: absolute;
  right:-20px;
  top:10px;
  padding:5px 10px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  background: #9a4119;
  color: #FFFFFF;
  font-weight: bolder;
}

.linko {
  font-size: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  font-weight: bolder;
}

#demobox {
  background-color: #cfc ;
  margin: 100px;
  padding: 10px ;
  border: 1px solid green ;
}

header.masthead2 {
  padding-top: 5rem;
  padding-bottom: calc(6rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 2.25rem;
  };
}

@media (min-width: 992px) {
  header.masthead2 {
    height: 50vh;
    min-height: 20rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    };
    h1 {
      font-size: 3rem;
    };
  }
}

@media (min-width: 1200px) {
  header.masthead2 h1 {
    font-size: 3.5rem;
  }
}
