{% extends 'food_substitute/base.html' %}


{% block bg %} style="background: black" {% endblock %}
{% block image %}
    {% if product != None %}
        <a href="{% url 'detail' product.code %}"><img src="{{ product.image_small }}" alt="image"/>
        <h2 id="title_detail" class="row justify-content-center">
            <span>{{ product.name }}</span>
        </h2></a>
    {% endif %}
{% endblock %}


{% block infos %}
    <div class="row col-lg-12 mt-n5">
    {% if message == "Veuillez entrez un produit" %}
        <h2>{{message}}</h2>
    {% elif product is None %}
        <h2>{{title_prod_missing}}</h2>
    {% else %}
        <h2 class="row justify-content-center col-lg-12 col-sm-12">Vous pouvez remplaçer cet aliment par:</h2>
        {% if better is True %}
            <div class="container col-lg-10 col-sm-6">
                <div class="row p-4">
                    {% for prod in better_prods %}                    
                        <div class="col-lg-4 col-md-6 p-1">
                            <div class="products">
                                <a href="{% url 'detail' prod.code %}">
                                {% if prod.image_small is none %}
                                    <img src="{% static\
'food_substitute/img/logo_pur_beurre.png' %}" alt="{{ prod.name }}">
                                {% else %}
                                    <img src="{{ prod.image_small }}" \
alt="{{ prod.name }}" />
                                    <span class="nutri-badge">{{ prod.nutrition_grades }}</span>
                                {% endif %}
                                </a>
                            </div>
                                <h4>
                                    {{ prod.name }}
                                </h4>
                                <h4>
                                    <a href="{% url 'save' produc=product.code substitut=prod.code %}">
                                        <i class="fas fa-save"></i>
                                        Sauvegarder
                                    </a>
                                </h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center col-lg-12 col-md-12 col-sm-12">
                <p > Il n'y a pas de produits plus sain en base de donnée</p>
            </div>
        {% endif %}
    {% endif %}
    </div>
    {% if product != None %}
        <div class="row justify-content-center col-lg-12 pagination">
            <span class="step-links">
                {% if better_prods.has_previous %}
                    <strong><em><a class="linko" href="?query={{query}}&page=1">&laquo; Premier</a>
                    <a class="linko" href="?query={{query}}&page={{ better_prods.previous_page_number }}">Précédent</a></em></strong>
                {% endif %}

                <span class="current">
                    Page {{ better_prods.number }} de {{ better_prods.paginator.num_pages }}
                </span>

                {% if better_prods.has_next %}
                    <strong><em><a class="linko" href="?query={{query}}&page={{ better_prods.next_page_number }}" title="tricks">Suivant</a>
                    <a class="linko" href="?query={{query}}&page={{ better_prods.paginator.num_pages }}">Dernier &raquo;</a></em></strong>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
