{% extends 'food_substitute/base.html' %}

{% block content %}
    <header class="masthead">
        <div class="row justify-content-center">
            <h1 class="text-white py-lg-6 pb-lg-5"> Mentions légales </h1>
        </div>
        <section class="page-section2 bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <p class="text-white-50 mb-4">Conditions Générales d'Utilisation
Définitions
Les Parties conviennent et acceptent que les termes suivants utilisés avec une majuscule, au singulier et/ou au pluriel, auront, dans le cadre des présentes Conditions Générales d'Utilisation, la signification définie ci-après :

« Contrat » : désigne les présentes Conditions Générales d'Utilisation ainsi que la Politique de protection des données personnelles ;
« Membre » : désigne indifféremment le Membre Freemium et le Membre Premium ;
« Membre Freemium » désigne le membre ayant un compte sur notre Plateforme pour accéder aux fonctionnalités gratuites de notre Plateforme ;
« Membre Premium » désigne le membre ayant un compte sur notre Plateforme pour accéder aux services Premium Solo ou Plus ;
« Plateforme » : plateforme numérique de type site Web et/ou application mobile permettant l'accès au Service ainsi que son utilisation ;
« Utilisateur » : désigne toute personne qui utilise la Plateforme, qu'elle soit un Visiteur ou un Membre ;
« Visiteur » : désigne toute personne, internaute, naviguant sur la Plateforme sans création de compte associé.
Les présentes Conditions Générales d'Utilisation (ci-après les "CGU") régissent nos rapports avec vous, personne accédant à la Plateforme, applicables durant votre utilisation de la Plateforme et, si vous êtes un Membre jusqu'à désactivation de votre compte. Si vous n'êtes pas d'accord avec les termes des CGU il vous est vivement recommandé de ne pas utiliser notre Plateforme et nos services.

En naviguant sur la Plateforme, si vous êtes un Visiteur, vous reconnaissez avoir pris connaissance et accepté l'intégralité des présentes CGU et notre Politique de protection des données personnelles.

En créant un compte en cliquant sur le bouton « S'inscrire avec Facebook » ou « Inscription avec un email » ou « S'inscrire avec Google » pour devenir Membre, vous êtes invité à lire et accepter les présentes CGU et la Politique de protection des données personnelles, en cochant la case prévue à cet effet.

Nous vous encourageons à consulter les « Conditions Générales d'Utilisation et la Politique de protection des données personnelles » avant votre première utilisation de notre Plateforme et régulièrement lors de leurs mises à jour. Nous pouvons en effet être amenés à modifier les présentes CGU. Si des modifications sont apportées, nous vous informerons par email ou via notre Plateforme pour vous permettre d'examiner les modifications avant qu'elles ne prennent effet. Si vous continuez à utiliser notre Plateforme après la publication ou l'envoi d'un avis concernant les modifications apportées aux présentes conditions, cela signifie que vous acceptez les mises à jour. Les CGU qui vous seront opposables seront celles en vigueur lors de votre utilisation de la Plateforme.

Article 1. Inscription au service
1.1 Conditions d'inscription à la Plateforme
Certaines fonctionnalités de la Plateforme nécessitent d'être inscrit et d'obtenir un compte. Avant de pouvoir vous inscrire sur la Plateforme vous devez avoir lu et accepté les présentes CGU et la Politique de protection des données personnelles.

Vous déclarez avoir la capacité d'accepter les présentes conditions générales d'utilisation, c'est-à-dire avoir plus de 16 ans et ne pas faire l'objet d'une mesure de protection juridique des majeurs (mise sous sauvegarde de justice, sous tutelle ou sous curatelle).

Avant d'accéder à notre Plateforme, le consentement des mineurs de moins de 16 ans doit être donné par le titulaire de l'autorité parentale.

Notre Plateforme ne prévoit aucunement l'inscription, la collecte ou le stockage de renseignement relatifs à toute personne âgée de 13 ans ou moins.

1.2 Création de compte
Vous pourrez créer un compte des deux manières suivantes :

Soit remplir manuellement, sur notre Plateforme, les champs obligatoires figurant sur le formulaire d'inscription, à l'aide d'informations complètes et exactes. Pour enregistrer votre compte, il vous faudra soumettre à OpenClassrooms certaines informations à caractère personnel telles que votre nom, prénom et votre adresse email. Vous trouverez le descriptif du traitement de vos données dans notre Politique de protection des données personnelles ;
Soit en utilisant un compte existant (notamment via Google Plus ou Facebook), en utilisant la fonction prévue à cet effet. En utilisant une telle fonctionnalité, nous aurons accès, publierons sur notre Plateforme et conserverons certaines informations de votre compte Facebook ou Google. Vous pouvez à tout moment supprimer le lien entre votre compte sur la Plateforme OpenClassrooms et votre compte Google Plus ou Facebook par l'intermédiaire des réglages de votre profil Google Plus ou Facebook. Si vous souhaitez en savoir plus sur l'utilisation de vos données dans le cadre de votre compte Facebook ou Google, consultez notre Politique de protection des données personnelles et celles de Facebook et Google.
Vous recevrez ensuite un email avec un mot de passe temporaire que vous devrez ensuite modifier lors de votre première connexion à notre Plateforme.
A l'occasion de la création de votre compte, et ce quelle que soit la méthode choisie pour ce faire, vous vous engagez à fournir des informations personnelles vraies, exactes, complètes et à les mettre à jour par l'intermédiaire de votre profil ou en en avertissant OpenClassrooms, afin d'en garantir la pertinence et l'exactitude tout au long de votre relation avec OpenClassrooms.

En cas d'inscription par email, vous vous engagez à garder secret le mot de passe choisi lors de la création de votre compte et à ne le communiquer à personne. En cas de perte ou divulgation de votre mot de passe, vous vous engagez à en informer sans délai OpenClassrooms. Vous êtes seul responsable de l'utilisation faite de votre compte par un tiers, tant que vous n'avez pas expressément notifié OpenClassrooms de la perte, l'utilisation frauduleuse ou la divulgation de votre mot de passe à un tiers.

Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d'un tiers, d'autres comptes que celui initialement créé. Vous ne pouvez pas autoriser des tiers à utiliser votre compte. Vous ne pouvez pas céder ou, quoi qu'il en soit, transférer votre compte à toute autre personne ou entité.

Les informations que vous avez fournies pendant l'inscription peuvent être corrigées pendant le processus d'inscription en revenant aux écrans précédents et en corrigeant les informations erronées. Vous acceptez de respecter les lois applicables lorsque vous utilisez les services, et vous ne pouvez utiliser les services qu'à des fins légales. Le contenu présent sur la Plateforme doit uniquement être utilisé pour un usage privé.

Lorsque vous choisissez votre mot de passe, vous ne devez pas utiliser de mot de passe simpliste (par exemple : 123456).

L'identifiant et le mot de passe seront strictement personnels et confidentiels et vous devrez les conserver et les utiliser de manière à en préserver la stricte confidentialité.

Le Membre sera seul autorisé à accéder au Service à l'aide de son identifiant et son mot de passe. Toute utilisation de la Plateforme au moyen de ses identifiants et mot de passe est réputée avoir été faite par le Membre lui-même. En cas d'utilisation par un tiers de ses identifiant et mot de passe, le Membre devra en avertir immédiatement OpenClassrooms en lui adressant un email à l'adresse suivante : hello@openclassrooms.com.

Le Membre qui a perdu son mot de passe devra se connecter sur le site d'OpenClassrooms et suivre la procédure en cliquant sur le lien « mot de passe oublié ».

Le Membre est responsable de l'utilisation de la Plateforme et de toutes les actions réalisées au sein de la Plateforme avec son identifiant et son mot de passe, sauf si l'utilisation de son compte a été faite après sa désinscription, ou après notification à OpenClassrooms d'une utilisation abusive de son compte.
                    </p>
                </div>
            </div>
        </section>
    </header>

{% endblock %}
