{% extends 'food_substitute/base.html' %}

{% block welcome %}
    <header class="masthead">
        <div class="row justify-content-center">
            <h1 class="text-white py-lg-6 pb-lg-5"> Mentions légales </h1>
        </div>
        <section class="page-section2 bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto text-center">
                        <div class="py-2 bg-faded">
                           <div class="p-5">
                              <hr />
                              <h3>Images</h3>
                              <hr />
                              <ul class="text-left pl-5">
                                  <li>Données des produits: <a href="https://openfoodfacts.org">OpenFoodFacts</a></li>
                                  <li>Template: <a href="https://startbootstrap.com/template-overviews/creative/">Startbootstrap - Creative</a></li>
                                  <li>Photo d'arrière plan: <a href="https://unsplash.com/photos/k60JspcBwKE">Kawin Harasai</a></li>
                                  <li><a href="https://thenounproject.com/term/carrot/29691/">Icone de la carotte: </a><a href="https://thenounproject.com/FabienJ">Fabien Jouin</a></li>
                                  <li>Charte graphique: <a href="https://app.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9">disponible ici.</a></li>
                              </ul>
                           </div>
                           <div class="p-5">
                              <h3>Hébergeur</h3>
                              <hr />
                              <p class="text-left pl-5">
                                <a href="https://www.heroku.com/about"><img src="https://brand.heroku.com/static/media/heroku-logo-stroke.aa0b53be.svg" alt="heroku.com" height="20" /> - Heroku</a>
                              </p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </section>
    </header>

{% endblock %}
{% block detail %}{% endblock %}
